.edit-project-container label {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    color: black;
}

.error-message {
    color: red;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 8px;
    margin-left: 15px;
    background-color: rgb(245, 217, 217);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;

}
 #update-project input {
    padding: 5px;
    border-radius: 20px;
}

.edit-project-container{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position:absolute;
    top:50%;
    left: 60%;
    width: 50%;
    transform: translate(-50%,-50%);
    margin: 30px auto;
}

#edit-project .form-group{
    margin: -10px 0px;
} 

textarea{
    padding: 5px;
    border-radius: 10px;
    color: rgb(19, 18, 18);
}

.text-center{
  text-align: center;
}

button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
}

.edit-project-container h3{
    text-align: center;
    margin-bottom: 15px;
}

.bi {
    padding: 0px 5px;
}

#message_bg{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(0,0,0,0.8);
    z-index: 2;
    overflow-y: scroll;
    
  }
  #message_container {
    width:auto;
    position: absolute;
    top: 50%;
     left: 50%; 
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 8px 4px rgb(86, 232, 252);
    border-radius: 10px;
  }
      
  #message_container .message {
    width: calc(100% - 20px);
    max-width: 640px;
    margin: 0 auto;
    overflow: hidden;
    transition: all 0.5s;
  }
  #message_container .message .title {
    display: inline-block;
    padding: 0.5em 2em;
    font-weight: bold;
    color :white;
    background-color: rgb(59, 224, 59);
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 22px;
  }
  #message_container .message p {
    color: #fff;
    padding: 1em;
    margin: 0;
    display: block;
    line-height: 1.4em;
    text-align: justify;
    font-size: 22px;
  }