/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    width: 99vw;
    height: 100vh;
    overflow-x: hidden;
}

.bg-img {
    background-image: url(./assets/Images/background-edit-user.jpg);
}

.dark-background{
    background-color: rgba(32, 18, 155, 0.85);
}